*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: pkmemerald;
}
/***************** FONDO BODY *****************/
body{
    display: block grid;
    justify-content: center;
    justify-items: center;


    background-image: url(../images/background-white-e4e4414b.jpeg);
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
}
#body.dark{

    background-image: url(../images/background-black-2a5a48d1.jpeg);
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
}

/***************** LOGO *****************/
#logo{
    margin-top: 30px;
    width: 280px;
    transition: transform .2s;
}
#logo:hover{
    cursor: pointer;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}



/***************** BOTON DARK MODE *****************/
.invisible{
    display: none;
}
#dark_button{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(99, 99, 99, 1);
    background-color: rgba(99, 99, 99, 0.5)
}
#dark_button:hover{
    background-color: rgba(161, 161, 161, 0.5);
    cursor: pointer;
}
#light_button{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(99, 99, 99, 1);
    background-color: rgba(161, 161, 161, 0.5);
}
#light_button:hover{
    background-color: rgba(99, 99, 99, 0.5);
    cursor: pointer;
}
/* IMAGENES */
#dark, #light{
    width: 30px;
    vertical-align: middle;
}


/***************** GENERACIONES *****************/
#gens{
    margin-top: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 5px;
}
#gens.dark {
    background-color: rgb(80, 80, 80);
}
input[type="checkbox"][id^="gen"] {
    display: none;
}
#gens > label {
    cursor: pointer;
}
#gens > span{
    margin-right: 5px;
    font-weight: bold;
    font-size: large;
}
#gens > label > img{
    margin: 2px;
    filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 0.3s;   
}
#gens > label.nogray > img {
    filter: grayscale(0%);
    transition-property: filter;
    transition-duration: 0.3s;   
}
#gens img:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}

/***************** PLAY *****************/
#play{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 255, 117);
    padding: 3px;
    margin: 10px;
    border: 2px solid black;
    transition: transform  0.5s;
}
#play > img{
    width: 40px;
}
#play:hover{
    cursor: pointer;
    background-color: rgb(160, 255, 160);
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
    transition: transform  0.5s;
}
#play.playing{
    display: none;
}

/***************** INPUT *****************/
input{
    display: none;
    width: 180px;
    font-size: large;
    margin-top: 10px;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0;
}
input.playing{
    display: block;
}
#valor.dark {
    color: white;
    background-color: rgb(80, 80, 80);
}
#pokemon_select{
    display: none;
    margin-top: 294px;
    position: absolute;
    width: 180px;
    background-color: white;
    text-align: left;
    border: 2px solid black;

    max-height: 300px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-color: rgba(0, 0, 255, 0.5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
#pokemon_select.playing{
    display: block;
}

#pokemon_select > div{
    display: flex;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}
#pokemon_select > div:hover{
    background-color: gray;
}
#pokemon_select > div > img{
    width: 50px;
}

#pokemon_select.dark{
    background-color: rgb(80, 80, 80);
}
/***************** SCROLL *****************/
#pokemon_select::-webkit-scrollbar {
    -webkit-appearance: none;
}
#pokemon_select::-webkit-scrollbar:vertical {
    width:auto;
}
#pokemon_select::-webkit-scrollbar-button:increment,#pokemon_select::-webkit-scrollbar-button {
    display: none;
} 
#pokemon_select::-webkit-scrollbar:horizontal {
    height: 10px;
}
#pokemon_select::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 22);
    border-radius: 20px;
    border: 1.5px solid #0080ff;
}
#pokemon_select::-webkit-scrollbar-track {
    border-radius: 10px;  
}


/***************** POKEMONS *****************/
#names{
    width: 690px;
    margin: 10px;
    display: none;
    border: 1px solid black;
    background-color: white;
}
#names.playing{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#names.dark {
    background-color: rgb(80, 80, 80);
}
#names > div {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    white-space: wrap;
    width: 75px;
    text-align: center;
    align-items: center;
    margin: 5px;
    border-bottom: 2px solid black;
    margin-bottom: 3px;
}
#pokemon_table{
    width: 690px;
    display: none;
    border: 1px solid black;
    background-color: white;
}
#pokemon_table.playing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
#pokemon_table.dark {
    background-color: rgb(80, 80, 80);
}
#pokemon_table > div {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    white-space: wrap;
    width: 75px;
    text-align: center;
    align-items: center;
    margin: 5px;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}


/* For mobile devices */
@media only screen and (max-width: 767px) {
    #pokemon_table, #names{
        width: 80%;
        overflow: hidden;
    }
    #names > div {
        font-size: small;
        width: 15%;
    }
    #pokemon_table > div {
        font-size: smaller;
        width: 10%;
        height: 50px;
    }
}

@media only screen and (max-width: 500px) {
    #pokemon_table, #names{
        width: 100%;
    }
    #names > div {
        font-size: 12px;
        width: 15%;
    }
    #pokemon_table > div {
        font-size: 10px;
        width: 9%;
        height: 30px;
    }
    #pokemon_table > div > img {
        width: 40px;
    }
}

@media only screen and (max-width: 290px) {
    #names > div {
        font-size: 5px;
        width: 15%;
    }
    #pokemon_table > div {
        font-size: 5px;
        width: 8%;
        height: 30px;
    }
}