.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 500px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.user-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 35%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.form-label, .form-check-label{
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}
.form-check-input{
    margin-top: 0.8rem;
}
input[type='checkbox'] { 
    margin-left: 10%;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
}