*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: pkmemerald;
}
/***************** FONDO BODY *****************/
body{
    display: block grid;
    justify-content: center;
    justify-items: center;

    width: auto;
    background: url('images/background-white-e4e4414b.jpeg') no-repeat;
    background-size:cover;
}
#body.dark{
    width: auto;
    background: url('images/background-black-2a5a48d1.jpeg') no-repeat;
    background-size:cover;
}

/***************** LOGO *****************/
#logo{
    margin-top: 30px;
    width: 280px;
    transition: transform .2s;
}
#logo:hover{
    cursor: pointer;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}



/***************** BOTON DARK MODE *****************/
.invisible{
    display: none;
}
#dark_button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(99, 99, 99, 1);
    background-color: rgba(99, 99, 99, 0.5)
}
#dark_button:hover{
    background-color: rgba(161, 161, 161, 0.5);
    cursor: pointer;
}
#light_button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(99, 99, 99, 1);
    background-color: rgba(161, 161, 161, 0.5);
}
#light_button:hover{
    background-color: rgba(99, 99, 99, 0.5);
    cursor: pointer;
}
/* IMAGENES */
#dark, #light{
    width: 30px;
    vertical-align: middle;
}


/***************** INPUT *****************/
input{
    font-size: large;
    margin-top: 50px;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0;
}
#valor.dark {
    color: white;
    background-color: rgb(80, 80, 80);
}

/***************** POKEMONS *****************/
#names{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 1px solid black;
    background-color: white;
}
#names.dark {
    color: white;
    background-color: rgb(80, 80, 80);
}
#names > div {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    white-space: wrap;
    width: 75px;
    text-align: center;
    align-items: center;
    margin: 5px;
    border-bottom: 2px solid black;
    margin-bottom: 3px;
}

#pokemon_table{
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 1px solid black;
    background-color: white;
}
#pokemon_table.dark {
    color: white;
    background-color: rgb(80, 80, 80);
}
#pokemon_table > div {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    white-space: wrap;
    width: 75px;
    text-align: center;
    align-items: center;
    margin: 5px;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
